$color1: #2F2E33; //#2F2E33 - Сине-черный
$color2: #D5D6D2; //#D5D6D2 - Холодный серый
$color3: #FFFFFF; //#FFFFFF - Белый
$color4: #3A5199; //#3A5199 - Кобальт

$height-header: 90px;
$height-footer: 90px;

:root {
    --background-color-primary: #f4f4f4;
    --background-color-secondary: #3A5199;
    --background-accent-color: #2d2d30;
    --text-primary-color: #f4f4f4;
    --text-secondary-color: #2d2d30;
    --text-accent-color: #f4f4f4;
    --text-accent-2-color: #3A5199;
    --shadow-color: #121416;
    --shadow-text-color: #ebebeb;
    --element-size: 86px;
}
:root.dark-theme {
    --background-color-primary: #121416;
    --background-color-secondary: #2d2d30;
    --background-accent-color: #3f3f3f;
    --text-primary-color: #f4f4f4;
    --text-secondary-color: #f4f4f4;
    --text-accent-color: #ebebeb;
    --text-accent-2-color: #ebebeb;
    --shadow-color: #ebebeb;
    --shadow-text-color: #121416;
}