@import "variables.scss";
//<Подключаем шрифты>

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

    
// @font-face {
//     font-family: 'Myriad Pro';
//     src:url('./fonts/Myriad_Pro/MyriadPro-Regular.woff2') format('woff2');
//     src: local('Myriad Pro Regular'),
//         url('./fonts/Myriad_Pro/MyriadPro-Regular.ttf') format('truetype'),
//         url('./fonts/Myriad_Pro/MyriadPro-Regular.woff') format('woff');
//     font-style: normal;
//     font-weight: 400;

// }
//<Подключаем шрифты>

.app-background {
    background-color: var(--background-color-primary);
    color: var(--text-primary-color);
    a {
        color: var(--text-primary-color);
    }
}

#main_header {
    background-color: var(--background-color-secondary);
    color: var(--text-primary-color);
    a {
        color: var(--text-secondary-color);
    }
    .switch-toggle {
        box-shadow: 1px 1px 5px var(--shadow-color);
    }
    .switch-label {
        box-shadow: 1px 1px 10px var(--shadow-color);
    }
}