@import "variables.scss";
//<Подключаем шрифты>

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

//<Подключаем шрифты>

.app-background {
    background-color: var(--background-color-primary);
    color: var(--text-primary-color);

    font-family: 'Rubik', sans-serif;
    a {
        color: var(--text-primary-color);
    }
    button {
        background-color: var(--background-color-primary);
        color: var(--text-primary-color);
        border-radius: 5px;
    }
    .alert-danger {
        color: red;
    }
    .content {
        min-height: calc(100vh - ($height-footer + $height-header));
    }
}

#main_header {
    height: $height-header;

    background-color: var(--background-color-secondary);
    color: var(--text-primary-color);
    box-shadow: 1px 1px 20px var(--shadow-color);

    font-family: 'Roboto', sans-serif;
    a {
        color: var(--text-secondary-color);
    }
    button {
        background-color: var(--background-color-secondary);
        color: var(--text-secondary-color);
    }
    .switch-toggle {
        box-shadow: 1px 1px 5px var(--shadow-color);
    }
    .switch-label {
        box-shadow: 1px 1px 10px var(--shadow-color);
    }
}
#main_footer {
    width: 100vw;
    height: $height-footer;

    background-color: var(--background-color-secondary);
    color: var(--text-primary-color);
    box-shadow: 1px 1px 20px var(--shadow-color);

    font-family: 'Rubik', sans-serif;
    a {
        color: var(--text-secondary-color);
    }
    button {
        background-color: var(--background-color-secondary);
        color: var(--text-secondary-color);
    }
}